body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
}
.one, .head, .footer{
    background-color: #1f2937;
}
.one, .two, .three, .four,.head, .footer{
    padding: 0 250px;
}
.one{
    display: flex;
    min-height: 400px;
    color: #f9faf8;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.oneleft{
    width: 500px;
    min-height: 250px;
    padding-right: 200px;
}

header{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}
.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.onetitle{
    font-size: 48px;
    font-weight: bold;
}

ul{
    display: flex;
    gap: 52px;
    list-style: none;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}


.emu{
    width: 500px;
    height: 250px;
   }

button{
    background-color: #3882f6;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    color: white;
    border: 0px;
    font-weight: bold;
}