body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
}
.one, .head, .footer{
    background-color: #1f2937;
}
.one, .two, .three, .four,.head, .footer{
    padding: 0 250px;
}
.one{
    display: flex;
    height: 400px;
    color: #f9faf8;
}

header{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}
.head{
    display: flex;
    align-items: center;
    padding-bottom: 50px;
    justify-content: space-between;
}

.onetitle{
    font-size: 48px;
    font-weight: bold;
}

ul{
    display: flex;
    gap: 52px;
    list-style: none;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}


.emu{
    width: 600px;
    height: 300px;
    padding-left: 400px;
}